body{
    padding: 10px;
    background-color: lightgray;
}

div{
    background-color: aliceblue;
    padding: 20px 20px;
    border-radius: 10px;
    width: 500px;
    align-items: center;
}

#titulo {
    text-align: center;
    background-color: whitesmoke;
    margin-bottom: 10px;
}

.ct_lamp{
    /* Transforma a div ct_lamp em um container flex, habilitando as propriedades de alinhamento. */
    display: flex;
    /* Centraliza os itens horizontalmente. */
    
    /* Centraliza os itens verticalmente.*/
    align-items: center;
    /* Adiciona um espaçamento de 20 pixels entre cada item */
    gap: 10px;
}

h2{
    font-size: x-large;
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

button{
    color: white;
    background-color: forestgreen;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 600;
    border-radius: 3px;
    padding: 40px 20px;
    border: none;
    cursor: pointer; /* Indicar que é clicável */

    /* Adiciona uma transição suave para as mudanças de estilo */
    transition: background-color 0.2s ease, transform 0.1s ease;

}

button:active {
    /* Efeito de clique */
    background-color: #1A5E1A; /* Um verde ainda mais escuro para o clique */
    transform: scale(0.98);    /* Reduz levemente o tamanho do botão */
}

img{
    padding: 0px 30px;
}