body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}

.secao {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
}

h1 {
    color: #0056b3;
    border-bottom: 2px solid #0056b3;
    padding-bottom: 10px;
}

p {
    text-align: justify;
}

.destaque {
    color: #d9534f;
    font-weight: bold;
    background-color: #fcf8e3;
    padding: 2px 5px;
    border-radius: 4px;
}

strong {
    color: #5cb85c;
}

.content{
    background-color: cornflowerblue;
    border: 5px 5px solid #dcf8fc;
    border-radius: 8px;
    padding: 10px;
    max-width: 250px;
    text-align: justify;
    margin: 20px auto;
}

.destaque_n1{
    color: #fff;
    background-color: cadetblue;
    padding: 4px 5px;
}