/* Estilos gerais  */
body { 
	font-family: 'Arial', sans-serif; 
	background-color: #f43aad; 
	display: flex; 
	justify-content: center; 
	align-items: center; 
	height: 100vh; 
	margin: 0; 
} 

.card { 
	border: 2px solid #ffffff; 
	border-radius: 20px; 
	padding: 5rem; 
	width: 400px; 
	box-shadow: 0 4px 6px rgb(238, 3, 3); 
} 

.titulo { 
	color: #ffffff; 
	text-align: center; 
} 

.texto {
	 color: #ffffff; 
} 

.botao { 
	background-color: #3b82f6; 
	color: white; 
	border: none; 
	padding: 0.5rem 1rem; 
	border-radius: 4px; 
	cursor: pointer;
 } 
