/* Especificidade: 0-0-1 */
/* Ordem de Importância: 4 - Este seletor é o de menor importância. */
p {
    color: blue;
}

/* Especificidade: 0-1-0 */
/* Ordem de Importância: 3 - Seletores de classe têm mais importância que seletores de elemento. */
.destaque {
    color: red;
}

/* Especificidade: 0-1-1 */
/* Ordem de Importância: 2.5 - Este seletor é mais específico que a classe sozinha (0-1-1). */
p.info {
    color: purple;
}

/* Especificidade: 1-0-0 */
/* Ordem de Importância: 2 - Seletores de ID têm mais importância que seletores de classe. */
#titulo {
    color: green;
}

/* Overrides qualquer regra */
/* Ordem de Importância: 1 - A regra com `!important` tem a maior importância e anula todas as outras. */
.urgente {
    color: red !important;
}