/* Usando Hexadecimal */
.botao-primario {
    background-color: #2ecc71;
    /* verde */
    color: #fff;
    /* branco */
    border: 1px solid #27ae60;
    /* verde escuro */
}

/* Usando RGB e RGBA */
.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(240, 240, 240);
}

/* Usando HSL e HSLA */
.destaque {
    background-color: hsl(39, 100%, 50%);
    color: hsla(0, 0%, 0%, 0.8);
}