/* Exemplo básico de CSS */

/* Estilizando um elemento pelo seletor de tag */
h1 {
  color: #3498db;
  font-size: 32px;
  text-align: center;
}

/* Estilizando com seletor de classe */
.destaque {
  background-color: #f39c12;
  padding: 10px;
  border-radius: 10px;
}

/* body {
  padding: 10px;
  background-color: beige;
  margin: 10px;
  border: 5px solid #3498db;
} */