/* Seletor de tag */
p {
    font-size: 16px;
    line-height: 1.5;
}

/* Seletor de classe */
.destaque {
    background-color: #ffcc00;
    padding: 10px;
}

/* Seletor de ID */
#cabecalho {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Seletor universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Adicionado para espaçar o conteúdo do cabeçalho fixo */
body {
    padding-top: 45px;
}