/* Combinadores */
nav li {
    display: inline-block;
}

ul>li {
    margin-bottom: 10px;
}

h2+p {
    font-weight: bold;
}

/* Pseudo-classes */
a:hover {
    text-decoration: double;
}

li:nth-child(odd) {
    /* O seletor `:nth-child()` seleciona elementos com base em sua posição. 
    A palavra-chave `odd` (ímpar) faz com que a regra seja aplicada apenas 
    aos elementos nas posições 1, 3, 5, etc., criando um efeito de "listras de zebra".
    */
    background-color: #f0f0f0;
}

/* Pseudo-elementos */
.nota::before {
    content: "📝 ";
}

p::first-letter {
    font-size: 1.5em;
}